## Settings file was created by plugin Projectile Collision v1.7
## Plugin GUID: projectile_collision

[General]

## When true, server sets the config values.
# Setting type: Boolean
# Default value: false
Config locked = false

## Object ids separated by , that are ignored by the smoke.
# Setting type: String
# Default value: iron_floor_1x1,iron_floor_2x2,iron_grate,iron_wall_1x1,iron_wall_2x2
Ignored object ids = iron_floor_1x1,iron_floor_2x2,iron_grate,iron_wall_1x1,iron_wall_2x2,piece_dvergr_metal_wall_2x2

## Prints projectile information to the console.
# Setting type: Boolean
# Default value: false
Debug print = false

## Only ignore collision for player projectiles.
# Setting type: Boolean
# Default value: true
Player only = true

## Max size for the projectile to ignore collision.
# Setting type: String
# Default value: 
Max size = 

