## Settings file was created by plugin Valheim - Toggle Movement Mod v1.3.0
## Plugin GUID: afilbert.ValheimToggleMovementMod

[Auto-jump]

## Enables character to repeatedly jump until stamina exhausted, then wait until stamina filled before repeated process
# Setting type: Boolean
# Default value: false
AutoJump = false

[Auto-run]

## Fixes auto-run to follow look direction
# Setting type: Boolean
# Default value: true
AutorunToggle = true

## Overrides look direction in auto-run while pressed
# Setting type: String
# Default value: CapsLock
AutorunFreelookKey = CapsLock

## Enable strafing while in auto-run/crouch
# Setting type: Boolean
# Default value: true
AutorunStrafe = true

## Disable autorun if Forward key/button pressed while AutorunStrafe enabled
# Setting type: Boolean
# Default value: false
AutorunStrafeForwardDisables = false

## Disable autorun if Esc key pressed
# Setting type: Boolean
# Default value: true
AutorunDisableOnEsc = false

## Enables stam safeguards that prevent stamina from running to zero
# Setting type: Boolean
# Default value: true
AutorunSafeguardStamina = true

## Keep running while viewing map
# Setting type: Boolean
# Default value: true
AutorunInMap = true

## Keep running while viewing inventory
# Setting type: Boolean
# Default value: false
AutorunInInventory = true

[Auto-sneak]

## Allows going from full run to crouch with a click of the crouch button (and vice versa)
# Setting type: Boolean
# Default value: true
RunToCrouchToggle = true

## Stops sneak movement if no stamina available. Stock behavior is to pop out of sneak into walk
# Setting type: Boolean
# Default value: true
StopSneakOnNoStam = true

[Mod Config]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enable = true

[Sprint]

## Sprint works like a toggle when true
# Setting type: Boolean
# Default value: true
SprintToggle = false

## Sprint only works like a toggle when auto-running
# Setting type: Boolean
# Default value: false
OnlyToggleWhenAutorunning = false

## Sprint stays toggled even after character halts
# Setting type: Boolean
# Default value: false
SprintTogglePersistsOnHalt = false

## Sprint is toggled through use of another key/button
# Setting type: Boolean
# Default value: false
SprintToggleAlternate = false

## Used in conjunction with SprintToggleAlternate. This is the key used to toggle sprint on/off
# Setting type: String
# Default value: T
SprintToggleAlternateKey = T

[Stamina]

## Percentage to stop running and let stamina refill
# Setting type: Single
# Default value: 20
MinStamRefillPercentValue = 20

## Stops the wait for 100% stam fill to resume sprinting on manual Forward input
# Setting type: Boolean
# Default value: true
StopStamLimitOnManualInputToggle = true

## Allow stamina to recover on low health by automatically detoggling sprint
# Setting type: Boolean
# Default value: true
SafeguardStaminaOnLowHealthToggle = true

## Percentage of health to detoggle sprint so stamina can start to recover
# Setting type: Single
# Default value: 30
SprintHealthOverridePercentValue = 30

## Automatically toggle off sprint after elapsed time spent at zero stamina
# Setting type: Boolean
# Default value: true
TrackElapsedZeroStamToggle = true

## Seconds to wait at zero stamina before toggling off sprint
# Setting type: Single
# Default value: 5
TrackElapsedZeroStamTime = 5

## Changes stamina bar color to orange when draining and sprint enabled, and blue when stam regenerating. Flashes empty bar if stam drained fully while sprinting
# Setting type: Boolean
# Default value: true
ChangeStamColorOnSprint = true

## Detoggles sprint if attacking at low stamina
# Setting type: Boolean
# Default value: true
DetoggleSprintAtLowStamWhenAttacking = true

## Threshold at which stamina will detoggle sprint if also attacking
# Setting type: Single
# Default value: 0.04
DetoggleSprintAtLowStamWhenAttackingThreshold = 0.04

[Swim]

## Any weapon stowed in order to swim will reequip once out of swimming state
# Setting type: Boolean
# Default value: true
ReequipWeaponAfterSwimming = false
